<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>About Author</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="style.css">


</head>
<body>
<div th:replace="base :: navlinks"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="jumbotron" style="background-color:#b8b0a7">
        <h1 class="text-center">About the Java Program</h1>
    </div>

    <div class="jumbotron text-center" style="background-color:#b8b0a7">
        <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quae, dolores dicta. Blanditiis rem amet repellat, dolores nihil quae in mollitia asperiores ut rerum repellendus, voluptatum eum, officia laudantium quaerat?
                bflsdfmkl,kjfl,mndxflvnxcmbdbhvfjbvfdjnhbfdsjnbgfjsdgbfndbfdfdnbf jmfkjfhbfghf jhfsdgdj jhfgsdjafs dajgdsfkjfsdaghjkfsdg jhgfsajdgsdf jhgfjkhgff jhgfasd hjfsdgkj jhgfhfhfhf vkjg fdsg,kaSJGKSDFJG KJHGFKJSDGJFGJ KJGHDJSFKHGJKFSD
                fszjdnfzbgnjz bjdjszhbkjsdgz bj bzkjdhgzkdjhbz hjhzsfkjbhgkzjsh .kjhb zkjhbkjhmjn bkhjmgkmjbhzm zsdnb kjm kmhbfkn MZKNnmnds dfknfhsfjsdh jfhdsjhfjh jhfjhsajhfk jhfakjhfkjafhkj jhfsjifi jgfjsaihgjfashfa jahgjfifh vjfhfsdsfakg fas
                dfashgfsjdag hsafdjigh fsajgjhsijas sfdajgijfasgdij vjfgjh vjihgf hifGIJH FIUGFAijhjsdahfjkhkjsda jgfdsjgfs adijgfj sdkjgs fdjnhfas jdghkfasj fhgjsfs fahgashgfas ufasghsfa.
        </p>
    </div>
</div>