<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>About Author</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="style.css">


</head>
<body>
<div th:replace="base :: navlinks"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="jumbotron" style="background-color:#b8b0a7">
        <h1 class="text-center">About the Java Program</h1>
    </div>

    <div class="jumbotron text-center" style="background-color:#b8b0a7">
        <p>
            Learn to develop professional web applications
            using the most popular programming language
            in the world.



            "I went through four years of university schooling in Computer Science and I can honestly say that going through this course gave me a wealth of experience that I only had a taste of during my schooling". - Francis, Software Engineer


            This program takes you from writing your first Java class to developing a complete website. This guide contains lessons that will give you a jump start on your career. Detailed instructions enable you to successfully complete the many problems. You'll get immediate feedback as you check them against supplied solutions. Programming challenges will keep you engaged, interested and on your toes.

            You will develop skills creating applications using the MVC pattern. You’ll use a templating engine (Thymeleaf).  You’ll connect to a MySQL database using an ORM, and learn how to write applications that can connect to other databases such as PostgreSQL and Oracle.

            And you’ll learn best practices from the experiences of others.

            Upon the completion of the bootcamp, you will receive a voucher for one free exam of the AWS Certified Developer - Associate (Links to an external site.)'s certification. We will NOT cover materials on this certification during this 8-10 week bootcamp. This is offered as an incentive for your completion.
        </p>
    </div>
</div>