<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>About Author</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"/>
    <link rel="stylesheet" type="text/css" th:href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>
<body>
<div th:replace="base :: navlinks"></div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="jumbotron" style="background-color:#b87315">
        <h1 class="text-center">About Me</h1>
    </div>
</div>

<div class="container">
    <div class="jumbotron text-center">
        <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/18.jpg" alt="Image with a photo of clouds."
              height="450">
        <br>
        <br>

        <h4 class="font-weight-bold">Samuel Duru</h4>
        <hr>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at aliquet eros. Donec massa eros, iaculis a vestibulum sit amet, fermentum a augue. Aenean maximus neque quam, sit amet efficitur felis lobortis quis. Nulla nec dui id velit facilisis convallis a id ipsum. Vestibulum rutrum ex sit amet risus dictum fringilla. Donec euismod egestas velit sed commodo. Morbi lobortis leo nisl, sed consectetur dolor sodales ornare. Morbi ut ornare ante. Duis nec quam in diam volutpat aliquam in id metus. Vestibulum sem augue, ultrices vitae laoreet nec, dictum efficitur nibh. Aliquam erat volutpat. Integer sit amet imperdiet nibh. Donec pretium leo tellus, ut ultricies lectus condimentum in.
        </p>
        <p>
            Pellentesque quis commodo enim, convallis ullamcorper lectus. Sed consequat imperdiet lorem, at viverra augue finibus eu. In tincidunt dui non suscipit ullamcorper. Donec a elit enim. Praesent quis orci et massa scelerisque rutrum in laoreet tortor. Morbi posuere at arcu vel efficitur. Nunc sollicitudin viverra accumsan. Nullam a arcu at nisl egestas pulvinar faucibus nec metus.
            Ut consectetur finibus odio sit amet mollis. Quisque nec sapien metus. Vestibulum posuere eros volutpat, ultrices magna vitae, gravida nisi. Quisque vestibulum orci non mauris placerat tristique. Cras tempor mauris nec urna bibendum tincidunt. Duis ultricies commodo tristique. Nulla blandit eros sed dui placerat, vitae vehicula ligula dictum. Fusce placerat ornare magna, ut pharetra nisl accumsan id. Proin vitae justo sed ipsum molestie ultricies eu sit amet dui. Vivamus lectus magna, congue vel dui porta, convallis feugiat dui. Integer iaculis, urna id rutrum laoreet, nunc nisi tincidunt orci, sit amet lacinia ante risus sagittis ipsum. Curabitur facilisis aliquam nibh. Curabitur feugiat felis a urna molestie vestibulum. Nunc at eros ac nisl convallis scelerisque accumsan a nisi. Proin eget ullamcorper eros.
        </p>
        <p>
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vivamus sagittis lorem nec urna commodo laoreet. Cras luctus facilisis aliquam. Cras euismod libero lectus, non euismod velit convallis sed. Morbi quis lacinia ante. Ut pulvinar tempus ullamcorper. Ut eleifend egestas vehicula. Morbi in nisi purus. Aliquam quis nulla ut massa porttitor semper vitae ut turpis. Integer leo sapien, consequat in augue vitae, lobortis vehicula libero. Donec et ullamcorper eros, in bibendum nisi. Sed in sapien quis lectus convallis eleifend id a massa. Morbi eu condimentum magna. Phasellus fermentum ante in ante fermentum laoreet. Donec dictum vel elit in posuere.
            Duis porta eleifend lacus, nec pellentesque velit pulvinar vitae. Praesent tristique tortor quam, a suscipit ante ultrices at. Mauris scelerisque quis est vitae tristique. Nulla nec lectus id lectus imperdiet laoreet non in ligula. Duis eget felis sodales, sodales ante eget, auctor quam. Cras fermentum mauris non varius consectetur. Nam vestibulum tristique sapien non laoreet. Cras molestie arcu sed varius egestas. Proin sit amet mauris tempus odio molestie hendrerit ut et est.
        </p>
        <hr>

        <a href="http://facebook.com" class="fa fa-facebook"></a>
        <a href="http://twitter.com" class="fa fa-twitter"></a>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>